@tailwind base;
@tailwind components;
@tailwind utilities;


/* @font-face {
    font-family: 'Inter';
    src: url("./fonts/Inter-Bold.ttf")
} */

/* @font-face {
    font-family: 'Inter';
    src: url("./fonts/Inter-Regular.ttf")
} */

@font-face {
    font-family: 'Inter';
    src: url("./fonts/Inter-SemiBold.ttf")
}



.inter {
    font-family: Inter;
}

/* Login Page */
.loginForm{
    background-color: #C4C2C4;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginBox{
    border-radius: 20px;
    background-color: #FFFFFF;
}

.inputBox{
    border-radius: 5px;
    background-color: #EFF1F5;
    color: #000000;
    height: 40px;
}

.buttonComponent{
    background-color: #355851;
    border-radius: 5px;
    color:#FFFFFF
}

/* ============================ */


/* Homepage */
.homepage{
    background-color: #C4C2C4;
    color:#292929;
}


.sidebarClass{
    background-color: #FFFFFF;
}

/* User Chat in Side bar */


.chats{
    background-color: #EFF1F5;
    border-radius: 20px;
}

.userChat{
    border-width: 1px;
    border-bottom: #FFFFFF;
    border-left: #FFFFFF;
    border-right: #FFFFFF;
    border-color: #d2d2d2;
}


/* Logout */
.logoutButton{
    background-color: #c1d8d3;
    border-radius: 5px;
    color: #355851;
    width: 60px;
    height:25px;

}


.personIcon{
    width: 40px;
    height: 40px;
}

.chatInfo{
    color: #292929;
    background-color: #355851;
}


/* Send button */
.sendButton{
    background-color: #355851;
    border-radius: 5px;
    color: #FFFFFF;
    width: 60px;
    height:25px;

}

.messageInputBox{
    background-color: whitesmoke;
}

.messageInput{
    background-color: whitesmoke;
    color:#355851
}


.oneMessage{
    background-color: #FFFFFF;
    border-radius: 10px;
}

.owner {
    background-color: #FFFFFF;
    border-radius: 10px;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 7px;
    padding-bottom: 7px;
}

.sender {
    background-color:#355851 ;
    border-radius: 10px;
    border-radius: 10px;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 7px;
    padding-bottom: 7px;
    color: #FFFFFF;
}


/* Chat Side */
.chatRoomFlex{
    background-color: #c1d8d3;
    border-radius: 20px;
}
